body{
    background-color: rgb(240, 240, 240);
   
}
.brand{
    color: white; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 44px;
    margin-left: 190px;
}
.link1:hover {color: rgb(44, 44, 75); font-weight: 1500;}
.links:hover {color: rgb(44, 44, 75); font-weight: 1500;}
.counter{
    font-size: 20px;
border-color: rgb(255, 255, 255);
border-radius: 30px;
background-color: rgb(240, 240, 240);
height: 40px;
width: 40px;
margin-top: 20px;
}
.forOrder{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
color: rgb(116, 116, 116);
margin-left: 25px;
margin-top: 20px;
}
.button1{
    margin-left: 30px;
    width: 180px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 18px;
}
.button2{
    margin-top: 20px;
    margin-left: 30px;
    width: 480px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 18px;    
}
.button3{
    margin-top: 20px;
    margin-left: 30px;
    width: 1000px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 18px;    
    
}
.insert{
        margin-top: 20px;
        margin-left: 30px;
        width: 480px;
        height: 60px;
        color: rgb(0, 0, 0);
        background-color: white;
        border-color: white;
        border-radius: 10px;
        font-size: 20px;    
    }
    .map{
        border-radius: 20px;
        margin-top:40px;
        height: 300px;
        width: 1000px;
        background-color:white;
        margin-left: 210px;
    }
    .button4{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        font-size: 30px;
        margin-top: 40px;
        margin-left: 30px;
        border-radius: 10px;
        border-color: white ;
        width: 450px;
        height: 80px;
        background-color:rgb(44, 44, 75);
       
    }
